@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background {
    background: linear-gradient(271.5deg, rgba(0, 0, 0, 0.37) 20.42%, rgba(0, 0, 0, 0.185) 136.06%);
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* padding: 2rem 3rem; */
}

.container {
    background: #FFFFFF;
    /* border-radius: 2rem; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 19rem auto;
    grid-template-rows: 100%;
    grid-template-areas: "sidebar page";
    overflow: hidden;
    box-shadow: 0 0 20px 0px #0000003b;
    position: relative;
    /* border: solid .2rem rgb(42, 2, 136); */
    max-width: 1600px;
    margin: auto;
}

.sidebar {
    background: linear-gradient(177.61deg, #121212 0.53%, #0c0c29 99.25%);
    width: 6rem ;
    min-height: 100%;
    height: 100%;
    color: white;
    position: absolute;
    display: grid;
    grid-template-rows: 2rem 15rem auto max-content;
    overflow-x: hidden;
    transition: 2s;
    width: 15%;
    min-width: 19rem;
    grid-area: sidebar;
    user-select: none;
}
.sessionSelect{
    height: 2rem;
    background-color: rgba(0, 0, 255, 0.089);
    color: white;
    outline: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
}
.sessionSelect *{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
}
.sessionSelect *:hover{
    background-color: blue;
}

.header {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logoDiv {
    width: 30%
}

.header>h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.3rem;
    line-height: 0;
}

.header>h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 0;
    opacity: .8;
}
.header>h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.2rem;
    opacity: .9;
    border: rgba(255, 255, 255, 0.438) solid .1rem;
    padding: .1rem .5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.tabs {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    overflow-y: hidden;
}
.tabs:hover{
    overflow-y: auto;
}

.tabs::-webkit-scrollbar {
    width: 10px;
}

.tabs::-webkit-scrollbar-track {
    background: #f1f1f13d;
}

.tabs::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.623);
}

/* Handle on hover */
.tabs::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: .5rem;
    padding: .7rem 0 .7rem 2rem;
    cursor: pointer;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.tab:hover {
    background: rgba(0, 0, 0, 0.692);
}
.tab.active {
    color: white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.712);
}
.tab.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 100%;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
}
.tabIcon {
    filter: invert(1);
    margin-right: 1rem;
    flex-shrink: 0;
}
.btnAngle {
    position: absolute;
    left: 15.5rem;
    display: inline;
    fill: white;
    transition: .8s;
    rotate: 180deg;
    z-index: 5;
}

.btnAngle.btnCollapse {
    rotate: 0deg;
}

.btnAngle.btnExpand {
    rotate: 180deg;
}

.children {
    --color: rgba(255, 255, 255, 0.726);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--color);
    fill: var(--color);
    overflow: hidden;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.301);
    padding-left: .5rem;

}

.children.isCollapsed {
    transition: .5s;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.children.isExpanded {
    transition: .5s;
    height: auto;
    margin-top: 1rem;
}

.child {
    display: flex;
    flex-direction: row;
    padding: .5rem 0 .5rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
}

.child:hover {
    background: rgba(0, 0, 0, 0.795);
    color: rgba(255, 255, 255, 0.87);
}
.child.active {
    color: white;
    font-weight: 600;
    background-color: black;
    border-radius:5px  0  0 5px;
}
.child.active .angle {
    fill: white;
    opacity: 1;
}
.child:hover  .angle{
    opacity: .8;
}
.child .angle {
    rotate: 90deg;
    opacity: .3;
    margin-right: .5rem;
    overflow: visible;
    margin-top: -4px;
    transition: .3s;
}

.logout {
    display: flex;
    background: linear-gradient(360deg, #990c1a8c 0%, #03030c 100%);
    width: 100%;
    height: 5rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    align-self: end;
    cursor: pointer;

}
.logout:hover {
    background: linear-gradient(360deg, #990c1ae7 0%, #000000 100%);
}

.lock {
    margin-left: auto;
    fill: white;
    margin-right: 1rem;
}

.logout>p {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 300;
}


@media screen and (max-width:900px) {
    .background {
        padding: 0;
    }

    .container {
        border-radius: 0;
    }
}