.page {
    --red: rgb(168, 0, 0);
    --green: rgb(0, 94, 0);
    --primary-gradient: linear-gradient(94.05deg, #5451F0 46.7%, #2421CF 93.52%);
    grid-area: page;
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    width: 100%;
    /* display: flex; */
    /* height: 100vh; */
    background: linear-gradient(95.79deg, rgba(187, 33, 23, 0.074) 8.02%, rgba(2, 0, 80, 0.044) 88.46%);
}

.page h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, 0.692);
}

.page h2 {
    line-height: 0;
    margin: 1rem 0 0;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.58);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    width: fit-content;
}

.page span[data-theme=hr] {
    width: 100%;
    background: linear-gradient(90deg, #020046 -98.83%, rgba(187, 33, 23, 0.62) 99%);
    opacity: 33%;
    height: .39rem;
    display: block;
}
.page div[data-theme=formContainer]{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(158, 183, 252, 0.027);
    padding:  2rem 2.1rem ;
    border-radius: 1rem;
    border: 1px solid #02005c52;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 49px 18px rgba(143, 124, 255, 0.09);
    max-height: 80vh;
    overflow-y: auto;
}



.page table {
    border-spacing: 0;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.page div[data-theme='table']{
    overflow: auto;
    height: 80vh;
    border-radius: 1rem;
    border: .2rem solid #5451f08c;

}
.page table tr:nth-child(1) {
    background: linear-gradient(90.57deg, #291677 20.45%, #180564 87.05%);
    color: white;
}

.page table tr:nth-child(1) th {
    padding: 4rem 1rem .5rem;
    text-align: left;
}



.page table tr:hover {
    background-color: rgba(255, 255, 255, 0.589);
}

.page table tr {
    padding: 10rem 0;
    transition: .2s;
}

.page table tr:nth-child(even) {
    background-color: #5451f009;
}

.page table tr:nth-child(even):hover {
    background-color: #5451f023;
}


.page table tr td {
    padding: .5rem .5rem; 
    border: 1px solid #5451f00e;
    border-bottom: 2px solid #5451f02f ;
}
.page button[data-theme=submit] {
    background: linear-gradient(94.05deg, #5451F0 46.7%, #2421CF 93.52%);
    border-radius: 8px;
    color: white;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border: 0;
    margin-top: 1rem;
    font-weight: bolder;
    transition: .5s;
}
.page button[data-theme=submit]:hover,
.page button[data-theme=submit]:focus {
    background: linear-gradient(90.57deg, #291677 20.45%, #180564 87.05%);
}
.page button[data-theme=clear] {
    background: linear-gradient(94.05deg, #d83535 46.7%, #cf2d21 93.52%);
    border-radius: 8px;
    color: white;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border: 0;
    margin-top: 1rem;
    font-weight: bolder;
    transition: .5s;
}
.page button[data-theme=clear]:hover,
.page button[data-theme=clear]:focus {
    background: linear-gradient(90.57deg, #771d16 20.45%, #641305 87.05%);
}
.page button[data-theme=edit]{
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.219);
    margin-right: .2rem;
}
.page button[data-theme=delete]{
    background-color: rgba(255, 0, 0, 0.226);
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: .2rem;
}
.page button[data-theme=edit]:hover{
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.377);
    margin-right: .2rem;
}
.page button[data-theme=delete]:hover{
    background-color: rgba(255, 0, 0, 0.384);
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: .2rem;
}
