.container {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* max-width: 100rem; */
    margin: auto;
    padding: 0 1rem;
}

.instituteTypes {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* gap: .2rem; */
}

.instiItem {
    margin: 2rem 2rem 2rem 0;
    max-width: 60rem;
    /* padding: 1rem; */
    /* border: 2px solid #A74289; */
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -1px 11px 15px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    text-align: center;
    margin: 0;
}

.instiItem:nth-child(1) {
    margin-right: 1rem;
}

.instiItem h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #410F68;
    margin: 2rem 0 0;
}

.line {
    width: 100%;
    height: 5px;
    display: block;
    background: linear-gradient(132.5deg, #69269D 37.51%, #AE458F 62.26%);
}

.instiItem h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(80, 16, 131, 0.68);
    font-weight: 700;
    margin: 2rem 0 0;
}

.instiItem p {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(80, 16, 131, 0.68);
    font-weight: 700;
}

.instiItem h4 {
    margin: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.349);
}

.genders {
    margin: 1rem 0;
}

.genderStatusBar {
    width: 95%;
    height: 1rem;
    margin: 2rem auto;
    background: #BF57A0;
    border-radius: 5px;
}

.maleStatus {

    height: 100%;
    background: #69269D;
    border-radius: 5px;
}

.counts {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.countItem {
    /* margin: 0 2rem 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
    border-radius: .5rem;
    opacity: .9;
    flex: 1;
    border: solid #39153991 .3rem;
    background: linear-gradient(45deg, #743b75, #75417e);
}

.countItem h2 {
    font-size: 3.5rem;
    margin: 0;
}

/* .counts div:nth-child(even) {
    background: radial-gradient(72.56% 72.56% at 84.55% 78.86%, #00075a 0%, #351f6b 100%)
}

.counts div:nth-child(odd) {
    background: radial-gradient(72.56% 72.56% at 84.55% 78.86%, #33005a 0%, #4a1f6b 100%)
} */

/* .counts div:nth-child(3) {
    background: radial-gradient(72.56% 72.56% at 84.55% 78.86%, #E7711B 0%, #913D00 100%)
} */

.countItem h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 200;
}

.quicklinkTotal {
    margin-top: 5rem;
}

.quicklinks {
    margin: 2rem 2rem 2rem 2rem;
    display: flex
}

.quicklinkHeader {
    margin: 2rem 2rem 0 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #410F68;
}

.quicklinkItem {
    border: #410F68 1px solid;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 1rem 0 0;
    padding: 0 1rem;
    border-radius: .7rem;
    background-color: #fff;
    cursor: pointer;
}

.quicklinkItem:hover {
    background-color: #410F68;
    color: white;
}

.chartCanvas {
    height: 500px;
}

.chart {
    height: 150%;
}

.chartCanvasMobile {
    display: none;
}

.statusPublished {
    background: #dedddd !important;
    height: 2rem;
    position: relative;
    margin: 0 !important;
    overflow: hidden;
    width: 100% !important;
    box-shadow: none;
    flex: 1 1 100%;
    max-width: 100% !important;
}

.statusPublished>p {
    color: #474747;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1rem;
    line-height: 0;
}

.status {
    background: #8e8e8e !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-shadow:  0 0 20px #000000;

}

.box {
    margin-bottom: 3rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -1px 11px 15px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    position: relative;
    padding-bottom: 3rem;
}
.btnShowMore{
    background-color: #fff;
    color: #410F68;
    border-radius: 1rem;
    border: 1px solid #410F68;
    /* margin-left: auto;
    margin-right: 0; */
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin-top: 2rem;
    transition: .1s;

}
.btnShowMore:hover {
    background-color: #410f6881;
    color: #fff;
    text-decoration: underline;
}
.xScrollable{
    max-height: 47rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 1rem;
}
@media (max-width: 768px) {

    /* .countItem {
        margin: 0 0 0 2rem;
    } */
    .instiItem:nth-child(1) {
        margin-right: auto;
    }

    .instituteTypes {
        grid-template-columns: auto;
    }

    .instiItem {
        /* margin: 2rem auto; */
        /* min-width: 40rem; */
        width: 100%;
    }

    .chartCanvas {
        display: none;
    }

    .chart {
        width: 250%;
        /* height: 500%; */
    }

    .xScrollable {
        overflow-x: auto;
        margin: 2rem;
    }
}

@media (max-width: 550px) {
    .container {
        margin: 2rem auto;
    }

    .countItem h2 {
        font-size: 2rem;
    }

    .countItem h3 {
        font-size: 1.2rem;
    }

}