.pageContainer {
  position: relative;
  padding: 1rem;
}

.searchArea {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.searchAreaIn1 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;

}

.stickySearch {
  position: sticky;
  top: 1rem;
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(84, 84, 84, 0.612);

}

.searchAreaIn1>div:nth-child(2) {
  width: 20%;
  margin-right: 1rem;
}

.searchAreaIn1>div:nth-child(3) {
  width: 100%;
}

.searchSelect {
  width: 100%;
}

.programCards {
  margin-top: 3rem;
}

.programItem {
  padding: 2rem;
  border-bottom: 1px solid rgb(145, 26, 200);
  border-radius: .3rem;
  cursor: pointer;
  transition: .5s;
  margin-bottom: .5rem;
}

.programItem:hover {
  background-color: rgb(145, 26, 200);
  color: rgba(255, 255, 255, 0.734);
  font-weight: bold;
  padding-left: 4rem;
}

.resultShow {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: sticky;
  background-color: #e3beff;
  background: linear-gradient(to right bottom, #33005bde, #32005ae6);
  width: 100%;
  height: 90vh;
  padding: 2rem;
  overflow: auto;
  overscroll-behavior: contain;
  box-shadow: 0 0 20px 20px #00000073;
  border: .1rem rgba(255, 255, 255, 0.675) solid;
  border-radius: 1rem;

}

.resultShow h1 {
  color: white;
}

.resultShow:not(.isShown) {
  display: none;
}

.resultShow.isShown {
  display: block;
}

.resultShowHeader {}

.btnClose {
  position: sticky;
  top: 0;
  left: 95%;
  background-color: red;
  width: 3rem;
  margin: 0 0 0 auto;
  z-index: 15;
  padding: .1rem;
  opacity: .8;
  cursor: pointer;
  fill: white;
  border-radius: 50%;
  transition: .5s;
  opacity: .7;


}

.btnClose:hover {
  opacity: 1;
}

.resultCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  flex: 0;
  min-height: 20rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 2px 7px 0px #0000006b;
  border: .5rem solid #15151f;
}

.card p {
  margin: 1rem auto;
}

.candImage {
  height: 10rem;
}

.SearchImg {
  padding: 2rem 2rem 2rem 0;
  width: 4rem;
  cursor: pointer;
}

@media only screen and (max-width:600px) {
  .searchAreaIn1 {
    display: block;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
  }

  .SearchImg {
    display: none;
  }

  .searchAreaIn1>div:nth-child(2) {
    width: 100%;
    margin-bottom: 1rem;
  }

  .searchAreaIn1>div:nth-child(3) {
    width: 100%;
  }

  .resultCards {
    grid-template-columns: 1fr;
  }

  .resultShow {
    margin-bottom: 10rem;
  }
}