.box {
  margin: 2rem 1rem 3rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: -1px 11px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.chart {
  /* height: 1rem; */
  height: 30rem;
  /* flex: 1; */
}

.chartCanvas {
  height: 300px;
}

.headerDiv button {
  cursor: pointer;
  background-color: #fff;
  border: .2rem solid rgba(0, 0, 0, 0.503);
  border-radius: 1rem;
  padding: .5rem 2rem;
}




.header {
  color: #624f63;
  margin: 4rem auto;
  text-align: center;
}

.xScrollable {
  max-height: 70rem;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 1rem;
}

/* style= {
    {
    fontSize: '2.5rem', lineHeight: '0', margin: 'auto 0'
  }
} */
.btnBack {
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
  /* width: 2rem; */
  font-size: 5rem;
  margin: auto 1rem;
  transition: .5s;
  border-radius: 1rem;
}

.btnBack:hover {
  background-color: rgb(227, 226, 226);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header {
    text-align: left;
    margin-left: 1.5rem;
  }
  .chart {
    width: 250%;
    /* height: 50%; */
    height: auto;
  }

  .chartCanvas {
    height: 500px;
  }

  .xScrollable {
    overflow-x: auto;
    margin: 2rem;
  }

  .btnBack {
    font-size: 4rem;

  }
}