
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(5px);
    border: var(--primary-color) .1rem solid;
    z-index: 40000;
    display: grid;
    grid-template-rows: auto auto auto;
    flex-direction: column;
    /* justify-content: center; */
    padding: 1.5rem;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
    /* overflow-x: hidden; */
}

.menu_open {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.BtnMenuClose {
    --bg-color: rgb(191, 108, 240);
    position: absolute;
    top: 2rem;
    right: -1rem;
    border: solid .2rem var(--bg-color) ;
    width: auto;
    height: auto;
    size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: black;
    padding: .2rem;
    opacity: -1;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 1rem 0px rgb(0 0 0 / 27%);
    fill:rgba(255, 255, 255, 0.767);

}
.BtnMenuClose:hover {
    fill:rgb(255, 255, 255);

}
.menu_open .BtnMenuClose {
    opacity: 1;
}

.menu .divSibaq {
    height: fit-content;
    flex:0 0 auto;
    background: linear-gradient( var(--primary-color) , black 200%);
    margin-top: 1rem;
    border-radius: 2rem;
    
}
.imgSibaqLogo{
    box-shadow: 0 0 5rem 0 rgb(0, 0, 0);
}
.divSibaq .divImgSibaq {
    width: 8rem;
    margin: auto;
    margin-top: 2rem;
}
.divSibaq h1{
    color: white;
    font-size: 2rem;
    text-align: center;
}


.menu ul {
    padding: 1.5rem 1.5rem 1.5rem 0;
    color: rgba(46, 46, 46, 0.804);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-left: 1.5rem 0;
    overflow-y: auto;
    width: 110%;
    font-weight: 600;
}

.menu ul li {
    color: rgba(46, 45, 45, 0.804);
    list-style: none;
    margin: 1rem 0;
    font-size: 1.7rem;
    padding: 1rem;
    transition: all .5s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
}

.menu ul li.active {
    color: rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0.568);  
}
.menu ul li.active:hover {
    color: rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0.568);  
}

.menu ul li:hover {
    color: rgb(180, 180, 180);
    background-color: rgba(0, 0, 0, 0.37);
}
.menu ul li p{
    padding: 0;
    margin: 0;
}
.menu .BtnSignIn {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    color: #dfc4f3;
    height: min-content;
    width: 118%;
    font-size: 1.5rem;
    padding: 1rem;
    align-self: end;
    background-color: var(--primary-color);
    border: none;
    transition: all .1s ease-in-out;
    cursor: pointer;
    margin: -1.5rem;
}

.menu .BtnSignIn:hover {
    color: white;
    background-color: var(--primary-color);
}

.shadow {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    opacity: 0.79;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .menu .BtnSignIn {
        bottom: 10rem;
    }
}