
.nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 1rem 0px rgb(0 0 0 / 27%);
}

.nav .bars {
    padding: .2rem;
    cursor: pointer;
    z-index: 3;
    opacity: .9;
    transition: 1s;
    width: 2.5rem;
}

.bars .bar {
    background-color: black;
    height: .4rem;
    margin: .5rem 0;
    transition: 0.5s;
}


.bar:nth-child(1) {
    width: 100%;
}

.bar:nth-child(2) {
    width: 80%;
    right: 0;
    top: auto;
}

.bar:nth-child(3) {
    width: 90%;
}

.bars:hover {
    opacity: 1;
    position: relative;
}

.bars:hover .bar {
    width: 3rem
}


.nav .btnHomeImg {
    width: 3rem;
    margin: auto 3rem;
    cursor: pointer;
    padding: .5rem;
}

.nav .sibaq {
    font-size: 3rem;
    margin: 0;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
    cursor: pointer;

}

.nav .btnLogin {
    cursor: pointer;
    outline: 0;
    border: 0;
    margin: auto;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
}
@media only screen and (max-width: 640px) {
    .nav {
        padding: 10px;
    }

    .nav .btnHomeImg {

        margin: auto 1rem;
    }
    .bars {
        padding: 1rem;
    }

    .bars .bar {
        margin: .2rem 0;

    }

    .nav .btnLogin {
        display: none;
    }

    .nav .btnHomeImg {
        order: 2;
        margin: 0;
    }

    .nav .sibaq {
        font-size: 2.5rem;
        margin: auto;
    }
}