.toppers_section {
  /* max-height: 100rem; */
  height: 70vh;
  justify-content: center;

}

.toppers_slide {
  display: grid;
  width: 100%;
  flex-shrink: 0;
  grid-template-columns: 50% 50%;
  padding: 2rem 8rem;
  height: 100%;
  gap: 5rem;
}

.toppers_slide .titles {
  position: relative;
  align-self: center;
  justify-self: center;
}

.titles h4 {
  font-size: 8rem;
  margin: 0;
  color: var(--primary-color);
}

.titles span {
  right: 0;
  font-size: 4rem;
  color: #FFF;
  font-family: 'Courier New', Courier, monospace;
}

.toppers_slide .topper_details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  height: fit-content;
  margin: auto;
}

.topper_details .topper {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

}

.topper .topper_img {
  width: 15rem;
  position: relative;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  overflow: hidden;
}

.topper .topper_name {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: black;
  font-weight: bold;
  text-align: center;
}

.topper .topper_chest {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: black;
  font-weight: bold;
  text-align: center;
}

.topper .topper_college {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  text-align: center;
  background-blend-mode: lighten;
  background-color: rgb(107, 107, 107);
  padding: .5rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 640px) {

  .toppers_section {
    height: auto;
    width: 100%;
    position: relative;
  }

  .toppers_slide {
    display: block;
    text-align: center;
  }

  .toppers_slide .titles {
    align-self: center;
    justify-self: center;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
  }

  .titles h4 {
    font-size: 4rem;
  }

  .titles span {
    font-size: 4rem;
  }

  .toppers_slide .topper_details {
    display: flex;
    flex-direction: column;
  }

  .topper_details .topper {
    margin-bottom: 2rem;
    border: black dotted .1rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  .topper .topper_img {}

  .topper .topper_name {}

  .topper .topper_college {}

  /* .toppers_slide {
    grid-template-rows: 50% 3fr;

  } */
}

@media only screen and (max-width: 942px) {
  .titles {
    display: flex;
    margin-bottom: 3rem;
  }
  .titles span {
    margin: auto 0 2rem 2rem;
    display: none;
  }
  .titles h4 {
    font-size: 5rem;
    text-decoration: underline;
  }
  .toppers_section {
    height: auto;
  }

  .toppers_slide {
    display: block;
  }

}

@media only screen and (max-width: 1135px) {
  .toppers_slide {
    grid-template-columns: max-content 1fr;
  }
}