.downloads {
    background-color: #f5e8ff;
}

.downloads .container {
    padding: 8rem 8rem;
}

.downloads h3 {
    font-size: 3.2rem;
    margin: 0;
    text-transform: uppercase;
    /* margin-bottom: 2rem; */
}

.hrLine {
    height: .5rem;
    width: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}



.cards {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.cards:not(:last-child) {
    margin-bottom: 6rem;
}

.cards .card {
    flex: 0 0 23rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: -.3rem .3rem .9rem #888;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template: min-content min-content 9rem/repeat(2, 1fr);
    grid-template-areas: 'title title'
                        'date date'
                         'svg pdf';
}

.card .title {
    grid-area: title;
    font-size: 2rem;
    opacity: .7;
    font-weight: 600;
    line-height: 1.3;
    padding: 1rem 7rem 2rem 1rem;
}

.card p {
    margin: 0;
}

.card .date {
    grid-area: date;
    justify-self: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem 1rem;
    color: #AFAFAF;
    
}

.card .fileImg {
    grid-area: svg;
    fill: #FD070778;
}

.card .svg {
    position: absolute;
    width: 45%;
    left: -10%;
    bottom: -5%;
}

.card .fileType {
    grid-area: pdf;
    font-size: 4rem;
    font-weight: 800;
    align-self: end;
    justify-self: end;
    color: #AFAFAF;
    text-transform: uppercase;
}
@media only screen and (min-width: 640px){
    .card .dlBox{
        position: absolute;
        width: 100%;
        height: 50%;
        top: 50%;
        background-color: var(--primary-color);
        opacity:79%;
        transform: translateY(100%);
        transition: all 1s;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card:hover .dlBox{
        transform: translateY(0);
        cursor: pointer;
    }
    .card .dlSvg {
        width: 5rem;
        fill: rgba(255, 255, 255, 0.846);
    }
    .card .dlSvg:hover{
        fill: #fff;
    }
}

@media only screen and (max-width: 640px) {
    .downloads .container {
        padding: 3rem 2rem;
    }

    .cards {
        gap: 2rem;
    }

    .cards .card {
        flex: 0 0 100%;
        padding: 1rem;
        border-radius: 1rem;
        grid-template: min-content 2rem/min-content 1fr min-content;
        grid-template-areas: 'pdf title dlBox'
                            'svg title dlBox';
        gap: 1rem;
    }

    .card .title {
        padding: 0;
        font-size: 1.7rem;
        align-self: center;
    }

    .card .title br {
        display: none;
    }

    .card .date {
        align-self: start;
        font-size: 1.5rem;
        padding: 0;
        display: none;
    }

    .card .svg {
        position: absolute;
        width: 7rem;
        left: -2rem;
        bottom: -3.5rem;
    }

    .card .fileType {
        align-self: start;
        justify-self: start;
        font-size: 2rem;
        /* background-color: red; */
        /* padding: 0 2rem 1rem; */
    }
    .card .dlBox{
        grid-area: dlBox;
        align-self: center;
        justify-self: start;
    }
    .card .dlSvg {
        /* display: block; */
        width: 4rem;
        
        /* margin-right: 2rem; */
        fill: #AFAFAF;
    }
}