.downloads {
    background-color: #f5e8ff;
}

.downloads .container {
    padding: 8rem 8rem;
}

.hrLine {
    height: .5rem;
    width: 100%;
    background-color: var(--primary-color);
}

.downloads h3 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.cards:not(:last-child) {
    margin-bottom: 6rem;
}

.cards .card {
    flex: 0 0 23rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: -.3rem .3rem .9rem #888;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template: min-content min-content 9rem/repeat(2, 1fr);
    grid-template-areas: 'title title'
        'date date'
        'svg pdf';
}

.card .title {
    grid-area: title;
    font-size: 2rem;
    opacity: .7;
    font-weight: 600;
    line-height: 1.3;
    padding: 1rem 7rem 2rem 1rem;
}

.card p {
    margin: 0;
}

.card .date {
    grid-area: date;
    justify-self: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem 1rem;
    color: #AFAFAF;
}

.card .fileImg {
    grid-area: svg;
    fill: #FD070778;
}

.card .svg {
    position: absolute;
    width: 45%;
    left: -10%;
    bottom: -5%;
}

.card .fileType {
    grid-area: pdf;
    font-size: 4rem;
    font-weight: 800;
    align-self: end;
    justify-self: end;
    color: #AFAFAF;
}

.card .dlSvg {
    display: none;
}

@media only screen and (max-width: 640px) {
    .downloads .container {
        padding: 3rem 2rem;
    }

    .cards {
        gap: 2rem;
    }

    .cards .card {
        flex: 0 0 100%;
        padding: 1rem;
        grid-template: min-content 4rem/repeat(2, minmax(min-content, auto)) 1fr;
        grid-template-areas: 'pdf title dlsvg'
            'svg title dlsvg';
        gap: 1rem;
    }

    .card .title {
        padding: 0;
        font-size: 1.7rem;
        align-self: center;
    }

    .card .title br {
        display: none;
    }

    .card .date {
        align-self: start;
        font-size: 1.5rem;
        padding: 0;
    }

    .card .svg {
        position: absolute;
        width: 30%;
        left: -6%;
        bottom: -35%;
    }

    .card .fileType {
        align-self: start;
        justify-self: start;
        font-size: 3rem;
        /* background-color: red; */
        /* padding: 0 2rem 1rem; */
    }

    .card .dlSvg {
        display: block;
        grid-area: dlsvg;
        width: 4rem;
        align-self: center;
        justify-self: start;
        /* margin-right: 2rem; */
        fill: #AFAFAF;
    }
}