/* .gallery {
    background-color: rgb(80, 83, 126);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: 20rem;
    grid-auto-rows: 20rem;
    grid-auto-columns: 20rem;
    grid-auto-flow: dense;
    grid-gap: 0.3rem;
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.gallery .imageContainer {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template: 1fr/1fr;
} */

.imageContainer .img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    /* border-radius: 3rem; */
    grid-column-end: -1;
    grid-row-end: -1;
}

/* .imageContainer .description {
    padding: .5rem .5rem;
    grid-column-end: -1;
    grid-row-end: -1;
    align-self: end;
    font-size: 1.5rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.719);
    color: #fff;
    text-align: center;
    border-radius: 0 0 3rem 3rem;
    min-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all .3s;
}

.imageContainer:hover .description {
    width: 100%;
    scale: 100%;
} */


/* @media (max-width:900px) {
    .gallery .container {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
        justify-content: center;
    }
}

@media (max-width:700px) {
    .gallery .container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

    }
}

@media (max-width:500px) {
    .gallery .container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

    }
} */

/* 
@media (max-width:400px) {
    .gallery .container {
        display: grid;
        grid-template-columns: repeat(3, 12rem);
        /* grid-template-rows: repeat(auto-fit, 20rem); */
        /* grid-template-rows: 12rem;
        grid-auto-rows: 12rem;
        grid-auto-columns: 11rem;
        grid-auto-flow: dense;
        grid-gap: 0.3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        justify-content: center;
    }   
} */ 
.app{
   
    width: 80vw;
    margin: 2rem auto;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.gallery{
  columns: 3 20rem;; 
  gap: 1.5rem;
}


.gallery .images {
    background-color: rgb(53, 52, 52);
    border-radius: 1rem;
    break-inside: avoid;
    margin-bottom: 1rem;
    transition: .3s ease-in-out;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media screen and (max-width: 425px) {
    .gallery .images {
        background-color: rgb(53, 52, 52);
        border-radius: 1rem;
        break-inside: avoid;
        margin-bottom: 1rem;
        transition: .3s ease-in-out;
        padding: .5rem;

        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}
    


.gallery .images:hover{
    transform:scale(1.03) ;
    /* cursor: pointer; */
    background-color: black;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.top, .bottom{
    display: block;
    height: 0;
    opacity: 0;
    font: 12px sans-serif;
}


.gallery .images:hover .top, .gallery .images:hover .bottom{
    transition: opacity .3s ease-out;
    /* cursor: pointer; */
    display: block;
    opacity: 1;
    height: auto;
}
.top{
    font-weight: 500;
    display: flex;
    flex-direction: row;
   
}
.locationIcon{
    color:blue;
}
.location{
    font-weight: 500;
    color: rgb(232, 229, 229);

}
.bottom{
    font-weight: 500;
    font-size: 14px;
}
.bottom1{
    margin-top: 7px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(232, 229, 229);
}
.likes{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(232, 229, 229);
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .bottom1{
        margin-top: 7px;
        margin: 10px;
        display: flex;
        justify-content:space-between;
        color: rgb(232, 229, 229);
        font-size: 14px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
}


.bottom2{
    margin-top: 7px;
    margin-left: 7px;
    display: flex;
    justify-content: space-around;
    color: rgb(232, 229, 229);

}



