.gallery {
    background-color: rgb(240, 241, 255);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: 20rem;
    grid-auto-rows: 20rem;
    grid-auto-columns: 20rem;
    grid-auto-flow: dense;
    grid-gap: 0.3rem;
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.gallery .imageContainer {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template: 1fr/1fr;
}

.imageContainer .img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    /* border-radius: 3rem; */
    grid-column-end: -1;
    grid-row-end: -1;
}

.imageContainer .description {
    padding: .5rem .5rem;
    grid-column-end: -1;
    grid-row-end: -1;
    align-self: end;
    font-size: 1.5rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.719);
    color: #fff;
    text-align: center;
    border-radius: 0 0 3rem 3rem;
    min-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all .3s;
}

.imageContainer:hover .description {
    width: 100%;
    scale: 100%;
}


@media (max-width:900px) {
    .gallery .container {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));

    }
}

@media (max-width:700px) {
    .gallery .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:500px) {
    .gallery .container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width:400px) {
    .gallery .container {
        display: grid;
        grid-template-columns: repeat(3, 12rem);
        /* grid-template-rows: repeat(auto-fit, 20rem); */
        grid-template-rows: 12rem;
        grid-auto-rows: 12rem;
        grid-auto-columns: 11rem;
        grid-auto-flow: dense;
        grid-gap: 0.3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        justify-content: center;
    }
}