@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #470679;
  --secondary-color: #d3a60b;


  --first-bg: linear-gradient(90deg, #FFFCE4 6.2%, rgba(255, 252, 228, 0) 101.71%);
  --first-border: 3px solid #DAC503;
  --first-color: #b2a002;

  --second-bg: linear-gradient(90deg, #fee2ff 6.95%, rgba(247, 247, 247, 0) 98.4%);
  --second-border: 3px solid #9c87c0;
  --second-color: #877ca7;

  --third-bg: linear-gradient(90deg, #fce6e1 1.72%, rgba(254, 182, 161, 0) 99.78%);
  --third-border: 3px solid #d2b1a8;
  --third-color: #c78f80;

  --null-bg: linear-gradient(90deg, #eeeeee 6.2%, rgb(255, 255, 255) 101.71%);
  --null-border: 3px solid #b0b0b0;
  --null-color: #7b7b7b;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 0;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary-color), grey);
  filter: brightness(.5);
  border-radius: .2rem;
  outline: solid 2px var(--primary-color);
  width: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f13d;
}

*::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.623);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#video-container {
  line-height: 0;
}

#video-container.example-style-2 {
  position: relative;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, .25) solid 50vmax;
}

#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}

#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, .5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {}

@media print {
  button {
    display: none;
  }
}