
.header {
    position: relative;
    height: 150vh;
    background-color: var(--primary-color);
}
.navbar {
    position: relative;
    height: auto;
    width: 100vw;
    /* background-color: black; */
    padding: 1rem 0 1rem 0;
}
.bars {
    position: absolute;
    right: 2rem;
    padding: .2rem;
}
.bars .bar{
    position: relative;
    background-color: white;
    height: .25rem;
    width: 1rem;
    margin: .1rem 0;
}
.bar:nth-child(1){
    width: .8rem;

}
.biglogo {

}


.coutdownSection{
    height: 50vh;
    width: 100vw;
    background: #FFF;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coutdownSection h2{
 font-size: 2rem;
}
.coutdownSection .countSpans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2rem;
    gap: 3rem;
}
.coutdownSection .countSpans .spans{
    background: rgb(207, 143, 143);
    gap: 1rem;
}