.news_section {
    background-color: #a29bff3d;
    height: fit-content;
    position: relative;
}

.news_section .container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 8rem 0 8rem 8rem;
    gap: 5rem;
}

.container .news_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.news_container .news {
    opacity: .9;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 60rem;
    transition: .2s ease-in-out 0s;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 0.425);
}

.news_container .news:hover {
    opacity: 1;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.39);
    scale: 1.01;
    border: .1rem solid var(--primary-color);
}

.news .news_img {
    width: 600px;
    height: auto;
    background-color: gray;
}

.news .news_content {
    padding: .5rem 1.5rem .5rem 1.5rem;
    font-size: 1.5rem;
}

.news_content h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.news_content p span {
    color: rgb(70, 70, 245);
}

.news_content .news_details {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 1rem;
    margin: 0;
}

.notification_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30rem;
    height: fit-content;
    min-height: 50vh;
    border-radius: .5rem;
}

.notification_container .line {
    width: 100%;
    height: .5rem;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.notification_container h3 {
    font-size: 2rem;
    margin: 0;
}

.notification_container .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.cards .card {
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: .7rem 0;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    border-left: solid var(--primary-color) .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.cards .card:hover {
    background-color: #fff;
    scale: 1.01;

}

.cards .card:hover .news_content p .read_more {
    text-decoration: underline;
}

.card .card_img {
    --size: 1rem;
    width: var(--size);
    height: var(--size);
    background-color: gray;
    border-radius: 1rem;
    margin: auto 0 1rem 1rem;

}

.card .card_content {
    flex: 0 0 80%;

}

.card .card_content h4 {
    font-size: 1.6rem;
    margin: .3rem 0;
}

.card .card_content .card_text {
    font-size: 1.3rem;
    margin: .3rem 0;
}
.news_btns{
    background-color:#6718a4;
    /* height: 5rem; */
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10rem;
     
}
.news_btn{
    background-color:  #6718a4;
    color: #eeeeee;
    font-weight: bold; 
    padding: 1px 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    border:none;
    /* border-bottom:   solid #a17abe 0.5rem; */
    
}
.news_btn:hover{
    border-bottom:   none;
    color: #000000;
    border-radius: 0.6rem 0.5rem 0 0;
    background-color: #e9e7ff;
  
}
.news_btn:focus{
    border-bottom:   none;
    color: #000000;
    border-radius: 0.6rem 0.5rem 0 0;
    background-color: #e9e7ff;
  
}
/* .news_btn .btnHomeImg:hover{
    color: #ffffff;
    border-bottom:   none;
    color: #000000;
    border-radius: 0.6rem 0.5rem 0 0;
    background-color: #e9e7ff;
  
} */
.news_btn .btnHomeImg{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: -.5rem;
    /* color: #e9e7ff; */
}

@media screen and (max-width: 1078px) {
    .news_section .container {
        display: block;
        width: 100vw;
    }

    .news_section .container {
        padding: 0;
    }

    .container .news_container {
        padding: 3rem 0;
        align-items: center;
    }

    .notification_container {
        display: none;
    }
}

@media screen and (max-width: 699px) {
    .news_container .news {
        width: calc(100% - 5rem);
    }
}

@media screen and (max-width: 494px) {
    .container .news_container {
        gap: 1rem;
    }

    .news_container .news {
        width: 100%;
        border-radius: 0;
        border-bottom: .1rem rgba(128, 128, 128, 0.466) solid;
        border-top: .1rem rgba(128, 128, 128, 0.466) solid;
    }

    .news_container .news:hover {

        border-radius: 0;
    }
}