@font-face {
    font-family: "digital";
    src: url("/public/assets/fonts/digital.ttf");
}
.page {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
    font-size: 4rem;

}

.page * {
    margin: 0;
    transition: all 2s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.header {
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

.table {
    padding: 1rem;
    margin: 2rem;
    border-collapse: collapse;
    width: 98%;
    border-radius: 2rem;
    overflow: hidden;
    /* padding-right: 5rem; */
}

.table tr {
    background: linear-gradient(90.25deg, #926900 3.92%, #A00000 101.97%);
    border-radius: 2rem;
    overflow: hidden;
}

.tr:not(:first-child) {
    border-top: 5px solid black;
    border-bottom:  solid black;

}

.table td,
.table th {
    padding: 7px;
    /* width: ; */
    /* rotate: 90deg */
} 

.table td {
    text-align: center;
    font-size: 4rem;
    /* font: digital; */
    font-weight: 600;

}

.table .th.rotate {
    height: 20rem;
    /* white-space: wrap; */
    font-size: 3rem;
    /* width: px; */
}

th.rotate>div {
    transform: rotate(300deg);
    margin: 0;
    padding: 0;
        /* translate(25px, 51px) rotate(
            315deg); */
    width: 3px;
}

th.rotate>div>span {
    /* border-bottom: 1px solid #ccc; */
    /* padding: 5px 10px; */
    font-size: 3rem;
}

.last {
    width: 4rem;
}
.foot {
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}
.categories,
.tr .th:nth-child(1)
 {
    text-align: left !important;
    width: 4%;
}

.tr:nth-child(27)
 {
    border-bottom: rgb(33, 33, 33) solid 1rem;
}

.ad{
    width: 100%;
    text-align: center;
}
.ad > p {
    margin: auto;
}

.ad > marquee > p {
    color: rgba(255, 255, 255, 0.625);
    font-weight: bold;
    font-size: 3rem;
}

.tr td,
.tr:not(:first-child) th {
    border: 3px solid #21212138;
    width:1%
}