/* .resultCard {

 

}

.card{
  --resolution: 130px;
  --width-ratio: 4;
  --height-ratio: 5;
  --margin: 1rem;
  top: 0;
  left: 0;
  overscroll-behavior: contain;
  margin-left: var(--margin);
  margin-right: var(--margin);
  font-size: 2rem;
  color: white;
  width: calc(var(--resolution) * var(--width-ratio));
  height: calc( var(--resolution) * var(--height-ratio));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.imgResultCard{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contents {
  position: absolute;
  z-index: 2;
}
.photoDiv{
  width: 200px;
  height: 200px ;
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
 */
