.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 2rem;
  margin: 1rem 2rem;
  /* align-items: center; */
  /* grid-gap: 1rem; */
}

.card {
  /* overflow: hidden; */
  max-width: 60%;
  min-width: 250px;
  flex: 1 1 ;
  margin: 1rem;
  padding: .1rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  /* --first-bg: linear-gradient(90deg, #FFFCE4 6.2%, rgba(255, 252, 228, 0) 101.71%);
  --first-border: 3px solid #DAC503;
  --first-color: #b2a002;

  --second-bg: linear-gradient(90deg, #fee2ff 6.95%, rgba(247, 247, 247, 0) 98.4%);
  --second-border:3px solid #9c87c0;
  --second-color: #877ca7;

  --third-bg: linear-gradient(90deg, #fce6e1 1.72%, rgba(254, 182, 161, 0) 99.78%);
  --third-border: 3px solid #d2b1a8;
  --third-color: #c78f80; */

  --null-bg: linear-gradient(160deg, #dbc2de 6.2%, rgb(255, 255, 255) 101.71%);  
  --null-border: 3px solid #8b5e8e;
  --null-color: #6f3275;

  background: var(--null-bg);
  border: var(--null-border);
  color: var(--null-color);
  position: relative;

}
/* 
.card:nth-child(1) {
  background: var(--first-bg);
  border: var(--first-border);
  color: var(--first-color);
}

.card:nth-child(2) {
  background: var(--second-bg);
  border: var(--second-border);
  color: var(--second-color);
}

.card:nth-child(3) {
  background: var(--third-bg);
  border: var(--third-border);
  color: var(--third-color);
} */


.card::before{
  content: attr(data-position);
  display: block;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: -1rem;
  color: white;
  background: #4f3365;
  padding: .5rem;
  border-radius: 2rem;
  font-weight: bold;
  width: 5rem;
  height: 2rem;
  line-height: 1;

  
}
.card:first-child{
  margin-left: 5rem;
}
.card:last-child{
  margin-right: 5rem;
}
.total {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold
}

.shortName {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
  color: #400249;
}

.name {
  font-size: 1.5rem;
  margin: 1rem;

}

.title{
  color: white;
  background-color: #6f3275;
  /* margin: 1. auto 2rem auto; */
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem;
}

/* media query for less than 760px */
@media (max-width: 760px) {
  /* decrease font sizes */
  .total {
    font-size: 2rem;
  }
  .shortName {
    font-size: 1.5rem;
  }
  .card{
    /* max-width: 60%; */
    min-width: 200px;
    flex: 1 1 minMax(290px, 20%);
  }


}