.total_display {
    font-size: 2rem;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(111.28deg, #5F0000 3.83%, #500000 49.65%, rgba(130, 4, 4, 0.96) 98.01%);

    overflow: hidden;

    --first-b-color: #BD9E00;
    --first-shadow: 0px 3px 30px rgba(87, 73, 2, 0.6);

    --second-b-color: #63A6F4;
    --second-shadow: 0px 3px 20px rgba(2, 31, 87, 0.6);

    --third-b-color: #41CA00;
    --third-shadow: 0px 3px 15px rgba(214, 253, 197, 0.6);

    --null-b-color: #ffb29b;
    --null-shadow: 0px 3px 15px rgba(0, 0, 0, 0.141);

}

.header {
    position: absolute;
    top: 3rem;
    left: 0;
    font-weight: bold;
    color: white;
    display: flex;
}

.colored {
    background: linear-gradient(266.69deg, #C09808 2.23%, #8D6E00 99.4%);
    border-radius: 0px 1rem 1rem 0px;
    padding: 1rem;
    z-index: 3;
}

.program_name p {
    margin: 1rem 0 auto 2rem;
    /* margin-top: 1rem; */
    color: rgb(45, 45, 45);
}

.grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    height: 100%;
    gap: 2rem;
    padding: 2rem;
}

.xscrollable {
    display: flex;

     /* overflow-x: auto;
    overflow-y: hidden;  */
    white-space: nowrap;
    padding: 0 2rem;
    gap: 3rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.wide {
    display: flex;
    white-space: nowrap;

}

.main_card {
    background: linear-gradient(103.66deg, rgba(255, 255, 255, 0.81) -2.87%, rgba(255, 255, 255, 0.6723) 42.05%, rgba(255, 255, 255, 0.81) 82.18%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 2rem;
    /* width: 98vw; */
}

.program_results {
    flex: 1 1 100vw;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
    position: relative;
}

.slide_program_name {
    flex: 1 1 0rem;
    width: .1rem;
    position: sticky;
    top: -18rem;
    left: 20rem;
    height: 2rem;
    margin: 0;
    margin-top: -8px;
}

.card_container {
    flex: 1;
    /* padding-top: 15rem; */
    /* justify-content: space-between; */
    max-height: 60rem;
    display: flex;

}

.cards {

    --top-margin: 13rem;
    display: flex;
    /* grid-template-columns: auto auto; */
    gap: 3rem;
    padding: 2rem;
    margin: auto;
    margin-top: var(--top-margin);
    /* width: 100%; */
    height: calc(100% - var(--top-margin));
    /* align-items: center; */
    justify-content: center;
}

.card {
    flex: 1 1 50rem;
    background-color: #FFF;
    position: relative;
    height: 100%;
    display: flex;
    border: .2rem solid var(--null-b-color);
    box-shadow: var(--null-shadow);
    border-radius: 2rem;
    /* background-color: #efefef; */
    /* max-width: 20rem; */
    min-width: 30rem;

}


/* COLORIZE CARD */
.card[data-pos=First] {
    border: .2rem solid var(--first-b-color);
    box-shadow: var(--first-shadow);
    border-radius: 2rem;
    /* scale: 1.03; */
    z-index: 4;
    background-color: #fff;
}

.card[data-pos=Second] {
    border: .2rem solid var(--second-b-color);
    box-shadow: var(--second-shadow);
    border-radius: 2rem;
    /* scale: 1.02; */
    z-index: 3;
    background-color: #fff;
}

.card[data-pos=Third] {
    border: .2rem solid var(--third-b-color);
    box-shadow: var(--third-shadow);
    border-radius: 2rem;
    /* scale: 1.01; */
    background-color: #fff;
    z-index: 2;
}

/* SHADOW FOR PHOTO_DIV  */
.card[data-pos=First] .photo_div {
    box-shadow: 0px 3px 10px rgba(132, 111, 5, 0.6);
    border: .1rem solid var(--first-b-color);
}

.photo_div {
    width: 12rem;
    height: 13rem;
    background-position: center;
    background-size: cover;
    /* background-image: url(https://last-db.s3.amazonaws.com/candidate-889.jpg); */
    margin: auto;
    position: absolute;
    top: -6rem;
    left: 0;
    right: 0;
    border-radius: 2rem;
    /* border: 2px solid #FFF; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 3px 10px rgba(84, 84, 84, 0.503);
    border: .1rem solid var(--null-b-color);

}


.texts {
    flex: 1;
    padding: 1rem;
    padding-top: 8rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chest {
    color: #694E4E;
}

.name {
    color: #3F3F3F;
}

.insti {
    color: #694E4E;
    line-break: loose;
    font-size: 1.5rem;
    white-space: pre-line;
}

.pos {
    font-size: 3.5rem;
    text-transform: lowercase;
}

.grade {
    color: rgba(0, 0, 0, 0.71);
    margin: 0;
    font-size: 3rem;
}

.grade_label {
    color: rgba(0, 0, 0, 0.71);
    margin: 0;
    margin-bottom: 3rem;
    white-space: pre-line;
}

.swiper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    flex-wrap: nowrap;
}

.institution_toppers {
    width: 98vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* gap: 2rem; */
    padding: 0;
    /* margin: 0 !important; */
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}